<div fxLayout="row">
            <div class="review-text"
                 (click)="review.author !== 'Anonymous' && review.author === author && editReview(review)"
                 (keydown)="review.author !== 'Anonymous' && review.author === author && editReview(review)"
                 matTooltipDisabled="{{review.author !== author}}" matTooltip="{{'LABEL_EDIT_REVIEW' | translate}}"
                 matTooltipPosition="right">
              <cite>{{review.author}}</cite>
              <p>{{ review.message }}</p>
            </div>
            <div class="like-container">
              <button mat-icon-button (click)="likeReview(review)" [disabled]="review.liked || !isLoggedIn()"
                      class="rw-button" aria-label="Rate a helpful review">
                    <mat-icon>thumb_up</mat-icon>
                    <span
                      class="like-counter accent-notification">{{ review.likesCount }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <ng-template #emptyResult>
        <div>
            <span class="noResultText" translate>
            EMPTY_REVIEW_LIST
            </span>
        </div>
      </ng-template>
    </mat-expansion-panel>

      <mat-divider class="detail-divider"></mat-divider>

      <h4 [style.display]="isLoggedIn() ? 'block' : 'none' " translate>WRITE_REVIEW</h4>
      <mat-form-field appearance="outline" color="accent"
                      [style.display]="isLoggedIn() ? 'block' : 'none' " floatLabel="always">
        <mat-label >{{"LABEL_REVIEW" | translate}}</mat-label>
        <mat-hint>
          <i class="fas fa-exclamation-circle"></i>
          <em style="margin-left:5px;">{{ 'MAX_TEXTAREA_LENGTH' | translate: {length: '160'} }}</em>
        </mat-hint>
        <textarea [formControl]="reviewControl" #textPut cols="50" matInput
                  placeholder="{{'WRITE_REVIEW_PLACEHOLDER' | translate}}"
                  matTextareaAutosize matAutosizeMinRows="2" maxlength="160"
                  matAutosizeMaxRows="4" aria-label="Text field to review a product"
                  ></textarea>
        <mat-hint align="end">{{textPut.value?.length || 0}}/160</mat-hint>
      </mat-form-field>

      <mat-dialog-actions align="end" class="dialogAction">
        <button mat-stroked-button mat-dialog-close class="close-dialog buttons" aria-label="Close Dialog">
          <mat-icon>
            close
          </mat-icon>
          <span>  {{'BTN_CLOSE' | translate}}</span>
        </button>

        <button type="submit" id="submitButton" [disabled]="!textPut.value.trim()" mat-raised-button color="primary"
                (click)="addReview(textPut)" style="margin-left: 5px;"
                aria-label="Send the review" class="buttons"
                [style.display]="isLoggedIn() ? 'flex' : 'none' ">
          <mat-icon>
            send
          </mat-icon>
          <span>
            {{'BTN_SUBMIT' | translate}}
          </span>
        </button>
      </mat-dialog-actions>
  </div>
</mat-dialog-content>